include LICENSE
include README.md
include AUTHORS.md
include PUBLISH.md
include pyproject.toml
recursive-include edocapi *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
prune tests
prune .pytest_cache
prune edocapi.egg-info
